body{
    padding: 0;
    margin: auto;
    max-width: fit-content;
    min-width: 340px;

}
header{
       box-shadow: 0px 0px 10px 5px rgb(246, 245, 245);
    padding: 20px;
    z-index: 100;
        background-color: hsl(0, 0%, 96%);

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    z-index:100 ;

}
.header-mobile{
    display: none;
}
.head ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.head a{
    text-decoration: none;
    color:  hsl(233, 8%, 62%);
}
.head a:hover{
    color: hsl(233, 26%, 24%);
    border-bottom: 2px solid hsl(136, 64%, 51%);
}
.invite a{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(192, 69%, 51%) , hsl(136, 64%, 51%));
}

.parent-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80%;
    margin-top: 50px;
     

}
.second{
    
    background-image: url("/images/bg-intro-desktop.svg");
     background-repeat: no-repeat;
     background-size: contain;
     background-position: right;
     z-index: -1;
     height: 70vh;

}
.second img{
    position: relative;
    bottom: 250px;
    left:200px;
}
.first{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.first h1{
    font-size: 50px;
    font-weight: 50;
    color: hsl(233, 26%, 24%);
}
.first p{
    color: hsl(233, 8%, 62%);
    font-size: 18px;
    width: 85%;
    margin-top: -20px;
}
.first a{
   text-decoration: none;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    width: 30%;
    margin-top: 20px;
    text-align: center;
    background: linear-gradient(to right, hsl(192, 69%, 51%) , hsl(136, 64%, 51%));
}

.parent-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}
.component{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    gap: 50px;
}
.grey{
    background-color: hsl(220, 16%, 96%);
padding: 30px;
padding-bottom: 100px;
padding-top: 60px;
height: 40vh;

}
.choose p{
    color: hsl(233, 8%, 62%);
    font-size: 14px;
    width: 30%;
    line-height: 20px;
}
.choose h2{
    color: hsl(233, 26%, 24%);
    font-size: 20px;
    font-weight: 100;
}
.similar h3{
    color: hsl(233, 26%, 24%);
    font-size: 16px;
    font-weight: 100;
}

.similar p{
    color: hsl(233, 8%, 62%);
    font-size: 14px;
    width: 60%;
}

.articles-parent{
    display: flex;
     margin-top: 70px;
    flex-direction: column;
    gap: 30px;
}
.articles-parent h2{
    color: hsl(233, 26%, 24%);
    font-size: 30px;
    font-weight: 100;
    width: 80%;
    margin: auto;
}
.art{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 40px;
}
.image-art{
    width: 100%;
}
.image-art img{
    width: 100%;
}

.article{
    width: 50%;
}
.content a{
    text-decoration: none;
    color: hsl(233, 26%, 24%);
    font-size: 16px;
    font-weight: 100;
}
.content a:hover{
    color: hsl(136, 64%, 51%);
}
.content p{
    color: hsl(233, 8%, 62%);
    font-size: 12px;
    width: 80%;
}
footer{
    background-color: hsl(233, 26%, 24%);
    color: white;
    padding: 60px;
    
    margin-top: 50px;
}
.bothfoot{
display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.footer-1{
    display: flex;
    list-style: none;
    gap: 100px;
}
.links{
    display: flex;
    gap: 100px;

}
.link-1 ,.link-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo-2{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.links a{
    text-decoration: none;
    color: white;
}
.links a:hover{
    color: hsl(136, 64%, 51%);
}

.reg-2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.reg-2 a{
   text-decoration: none;
    color: white;
    padding: 10px 30px;
    width: 30%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to right, hsl(192, 69%, 51%) , hsl(136, 64%, 51%));
}

@media (max-width:768px){
body{
    margin: 0;
    padding: 0;
}
    .header{
        display: none;
        
    }
    header{
        padding: 20px;
    }
   
    .header-mobile{
        display: flex;
        padding: 20px;
       align-items: center;
        justify-content: space-between;
    }
    .head-mobile{
        display: none;
    }
/*      // hero section
 */    
 .parent-1{
    flex-direction: column-reverse;
    margin-top: 10px;
    padding: 0px 20px;
    width: 100%;
   
     


}
.first{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.first h1{
    font-size: 32px;
    margin: 20px 0;
}
.first p{
    width: 100%;
    font-size: 16px;
    margin: 15px 0;
}
.first a{
    width: 50%;
    margin: auto;
    margin-bottom: 40px;

}
.second{
    
    background-image: url("/images/bg-intro-mobile.svg");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
    height: 300px;
    width: 100%;
}

.second img{
    position: relative;
    bottom: 100px;
    left:auto;
    width: 100%;
}
.grey{
    height: auto;
    padding: 20px ;
}

.choose p{
    width: 100%;
    text-align: center;
}
.choose h2{
    text-align: center;
}
.component{
    flex-direction: column;
    gap: 20px;
    text-align: center;
    }

    .similar{
            padding: 20px;

    }

    .similar p{
    
    width: 100%;
}
.art{
    flex-direction: column;
    
    margin: auto;
    align-items: center;
    gap: 40px;
    padding: 20px;
}
.image-art{
    width: 100%;
}
.image-art img{
    width: 100%;
}

.article{
    width: 100%;
}
.articles-parent h2{
    text-align: center;
}
.bothfoot,.footer-1,.links,.footer-1,.link-1,.link-2,.logo-2,.reg-2{
    flex-direction: column;
    gap: 25px;
    width: 100%;
    text-align: center;
}

.reg-2 a{
    width: 50%;
    margin: auto;
}
}